$border-radius:               2px;
$border-radius-sm:            2px;
$border-radius-lg:            2px;
$border-radius-pill:          2px;

$card-border-width:                 none;

$spinner-width:           1.5em;
$spinner-height:          $spinner-width;
$spinner-vertical-align:  -.25em;
$spinner-border-width:    .1em;
$spinner-animation-speed: .75s;



@import "~bootstrap/scss/bootstrap";
